header{
    border:2px solid rgb(4, 0, 255);
    background-color:red;
}
#heading1{
    font-size:20px;
    float:left;
}
#socialicon
{
    float:right;
}
.slogo
{
    height:60px;
    width:60px;
}
#content {
    height:450px;
    width:80%;
    border:2px solid green;
    margin-left:10%;

}
#imgdiv{
    height:400px;
    width:45%;
    border:2px solid blue;
    float:left;
}
#imgdiv>img{
    height:400px;
    width:100%;

}
#contentimg{
    height:450px;
    width:50%;
    margin-left:1%;
    border:2px solid grey;
    float:left;
    margin-top:-3%;
    
}
#feature-container{
    height:100px;
    width:100%;
    border:2px solid rgb(208, 55, 55);
    float:left;
    display:inline-block;
}
#feature{
    height:50px;
    float:left;
    margin-left:2%;

}
.featureimg{
    height:100px;
    float:left;

}
.remove{
    margin-left:-10%;
}